@charset “utf-8”;
/* CSS Document */
@font-face {
   font-family: “Tahoma”;
   src: url(Tahoma.otf;
}
@font-face {
   font-family: “Tahoma”;
   src: url (“Tahoma.eot”);
}
h1 {
   font-family: Tahoma;
   font-size: 200%
}
h1 {
   font-family: Tahoma;
   font-size: 100%
}